<section class="address  address-inner">
  <h2 class="visually-hidden">Наши координаты</h2>

  <div class="container">
    <div class="coordinates">
      <h3>Наши координаты</h3>
      <p>г. Анапа, ул. Омелькова, 21 / ул. Владимирская, 134</p>
      <p>(на углу улиц Владимирской и Омелькова, между Пенсионным фондом и школой №7.)</p>
      <p>+7 (918) 057-67-67</p>
      <a href="#">
        <p>info@skorohot.ru</p>
      </a>
      <p>Telegram-бот для заказов: @SkoroHotbot</p>
      <p>Канал в Telegram для оповещения об акциях и розыгрышах: <span>@skorohot1</span></p>
      <button class="delivery-area" type="button">зоны доставки</button>
      <h3>Наши реквизиты:</h3>
      <p>ИНН 463226816719 ОГРИП 312235234200024</p>
      <a href="#">
        <p>пожаловаться</p>
      </a>
    </div>

    <div class="address-inner-map">
    </div>

    <div class="feedback">
      <h3>Написать нам</h3>
      <form action="https://echo.htmlacademy.ru">
        <p>Ваши контакты (телефон или email)*:</p>
        <input type="text" name="tel or email" required>
        <p>Сообщение</p>
        <textarea name="message" cols="37" rows="5" required ></textarea>
        <button class="feedback__button" type="submit">отправить сообщение</button>
      </form>
    </div>
  </div>

</section>
