<header class="main-header">

  <nav class="top-nav">
    <div class="container">
      <ul class="top-nav__list">
        <li>
          <a href="index.html">
            <img src="img/logo.png" width="210" height="62" alt="#">
          </a>
        </li>
        <li>
          <p class="tel">+7 (918) 057-67-67</p>
          <p class="work-time">работаем с 10:00 до 00:00 ежедневно</p>
        </li>
        <li>
          <a href="index.html#menu">
            <p>Меню</p>
          </a>
        </li>
        <li>
          <a href="index.html#specials">
            <p>Спецпредложения</p>
          </a>
        </li>
        <li>
          <a href="index.html#address">
            <p>Доставка</p>
          </a>
        </li>
        <li>
          <a href="index.html#about">
            <p>О нас</p>
          </a>
        </li>
        <li>
          <a href="history.html">
            <p class="cabinet">Личный кабинет</p>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <nav class="bottom-nav">
    <div class="container">
      <ul class="bottom-nav__list">
        <li>
          <a href="pizza.html">
            <p>Пицца</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Японская кухня</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Сеты и комбо</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Акции</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Напитки</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Десерты</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Соусы</p>
          </a>
        </li>
        <li class="bottom-nav__tel  visually-hidden">
          <p class="tel">+7 (918) 057-67-67</p>
          <p class="work-time">работаем с 10:00 до 00:00 ежедневно</p>
        </li>
        <li>
          <a href="basket.html">
            <p>500р</p>
          </a>
        </li>
      </ul>
    </div>
  </nav>

</header>
