<header>

  <nav>
    <ul>
      <li>
        <a href="">
          <img src="img/logo.png" width="210" height="62" alt="#">
        </a>
      </li>
      <li>
        <p>+7 (918) 057-67-67</p>
        <p>работаем с 10:00 до 00:00 ежедневно</p>
      </li>
      <li>
        <p>Меню</p>
      </li>
      <li>
        <p>Спецпредложения</p>
      </li>
      <li>
        <p>Доставка</p>
      </li>
      <li>
        <p>О нас</p>
      </li>
      <li>
        <a href="#">
          <p>Личный кабинет</p>
        </a>
      </li>
    </ul>
  </nav>

  <nav>
    <ul>
      <li>
        <p>Пицца</p>
      </li>
      <li>
        <p>Японская кухня</p>
      </li>
      <li>
        <p>Сеты и комбо</p>
      </li>
      <li>
        <p>Акции</p>
      </li>
      <li>
        <p>Напитки</p>
      </li>
      <li>
        <p>Десерты</p>
      </li>
      <li>
        <p>Соусы</p>
      </li>
      <li>
        <p>Корзина</p>
      </li>
    </ul>
  </nav>

</header>
