@font-face {
  font-family: "FFDIN Round Pro";
  src: url("../fonts/FFDINRoundProRegular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FFDIN Round Pro - Medium";
  src: url("../fonts/FFDINRoundProMedium.woff2");
  font-weight: 500;
  font-style: normal;
}
