$font-400: "FFDIN Round Pro", sans-serif;
$font-500: "FFDIN Round Pro - Medium", sans-serif;
$font-300: "FFDIN Round Pro - Light", sans-serif;
$font-lato-700: "Lato - Bold", sans-serif;
$font-meriad-400: "MyriadPro-Regular", sans-serif;
